---
import Title from '@/atoms/Title.astro';

const { title, shortTitle, color } = Astro.props;
---

<div class="dynamic-title" data-title={title} data-short-title={shortTitle}>
  <Title color={color} title={title} />
</div>

<script src="./dynamic-title.ts"></script>
