@mixin container {
  max-width: var(--container-max-width);
  padding: var(--spacer-l) var(--spacer-s);
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-mobile) {
    padding: var(--spacer-xl) calc(var(--spacer-s) * 2);
  }
}

@mixin container-compact {
  max-width: var(--container-compact-max-width);
  padding: 0 var(--spacer-s);
  margin: 0 auto;
}
