@mixin font-face($font-family, $font-weight, $font-style, $font-path) {
  @font-face {
    font-display: swap;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-path) format('woff2');
  }
}

@include font-face('Lobster', 400, normal, '/fonts/Lobster-Regular.woff2');
@include font-face('Roboto', 200, normal, '/fonts/Roboto-Light.woff2');
@include font-face('Roboto', 400, normal, '/fonts/Roboto-Regular.woff2');
@include font-face('Roboto', 500, normal, '/fonts/Roboto-Medium.woff2');
@include font-face('Roboto', 600, normal, '/fonts/Roboto-Bold.woff2');
