@mixin hover-state($offset: -1rem) {
  .no-touchevents & {
    &:after {
      position: absolute;
      left: -1rem;
      bottom: 0.5rem;
      opacity: 0;
      content: '';
      width: calc(100% + var(--spacer-s));
      background-color: var(--color-red);
      height: 3px;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      &:after {
        opacity: 1;
        bottom: $offset;
      }
    }
  }
}
