---
import Main from '@/layouts/Main.astro';
import Hero from '@/components/Hero.astro';
import ProjectList from '@/blocks/ProjectList.astro';
import BlogList from '@/blocks/BlogList.astro';
import About from '@/blocks/About.astro';
---

<Main>
  <Hero />
  <ProjectList />
  <BlogList />
  <About />
</Main>
