---
import Main from '@/layouts/Main.astro';
import Hero from '@/components/Hero.astro';
import ProjectList from '@/blocks/ProjectList.astro';
import BlogList from '@/blocks/BlogList.astro';
---

<Main>
  <Hero />
  <ProjectList count={3}/>
  <BlogList />
</Main>
