---
const { title, shortTitle, color } = Astro.props;
---

<span class={`h1 title title--desktop title--${color}`}>{title}</span>
<span class={`h1 title title--mobile title--${color}`}>{shortTitle || title}</span>

<style lang="scss">
@import '../scss/resources/breakpoints';

.title {
  color: var(--color-black);

  &--mobile {
    @media screen and (min-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media screen and (min-width: $breakpoint-tablet) {
      display: block;
    }
  }

  &--purple {
    color: var(--color-purple);
  }

  &--blue {
    color: var(--color-blue);
  }
}
</style>
