---
import SocialIcons from '@/components/SocialIcons.astro';
---

<footer class="footer">
  <div class="footer__container container">
    <div class="footer__social">
      <SocialIcons />
    </div>
  </div>
</footer>

<style lang="scss">
@import '../scss/resources/breakpoints';
@import '../scss/resources/hover';

.footer {
  background-color: var(--color-black);
  color: var(--color-white);

  &__container {
    display: flex;
    justify-content: center;
    padding-top: var(--spacer-m);
    padding-bottom: var(--spacer-m);

    @media screen and (min-width: $breakpoint-mobile) {
      padding-top: var(--spacer-xs);
      padding-bottom: var( --spacer-xs);
    }
  }

  :global(.social-icons) {
    gap: var(--spacer-s);
  }

  :global(.social-icons__item:hover),
  :global(.social-icons__item:focus) {
    color: var(--color-purple);
  }
}
</style>
