<header class="header">
  <a href="/" class="header__title">Laura Richer</a>
  <p>menu</p>
</header>

<style lang="scss">
@import '../scss/resources/breakpoints';
@import '../scss/resources/hover';

.header {
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: calc(var(--spacer-s) * 2) var(--spacer-s);
  background-color: var(--color-black-alpha);

  @media screen and (min-width: $breakpoint-mobile) {
    padding: calc(var(--spacer-s) * 2);
  }

  &__title {
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-logo);
    font-size: 2.8rem;
    line-height: 3.8rem;

    &:after {
      position: absolute;
      left: 0;
      width: 0;
      color: var(--color-purple);
      white-space: nowrap;
      overflow: hidden;
      content: 'Laura Richer';
      transition: width 0.3s ease-in-out;
    }

    @include hover {
      &:after {
        width: 140px;
      }
    }
  }
}
</style>
