---
import Title from '@/atoms/Title.astro';

const { title, titleColor } = Astro.props;
---

<div class="section-header">
  <Title title={title} color={titleColor}>
</div>

<style lang="scss">
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacer-l);
  gap: var(--spacer-s);

  &__title {
    color: var(--color-black);

    &--purple {
      color: var(--color-purple);
    }

    &--blue {
      color: var(--color-blue);
    }
  }

  &__copy {
    max-width: var(--container-compact-max-width);
    margin: 0 auto;
  }
}
</style>
