---
// const about = await Astro.glob('@/content/about.md');
import SectionHeader from '@/components/SectionHeader.astro';
---

<section id="about" class="about">
  <div class="container animate-section">
    <SectionHeader
      title="About me"
      titleColor="purple"
    />
    <div class="about__grid">
      <div>
        <p>Hey, I'm a self taught, passionate frontend developer currently residing in Leeds, West Yorkshire.</p>

        <p>Currently working for a digital agency in Leeds city center, I get to work on all sorts of amazing, varied projects. We predominantly use Vue for our builds, Vite for our build compiler, Strapi & Graphql for CMS & data providing. At this agency I've also had experience with Nuxt, Angular, Rest API, Webpack and Drupal.</p>

        <p>I've built this site mostly as a bit of a playground, I tend to rebuild it every time I want to learn a new technology just to give the learning a bit of purpose. But it also serves as a platform to showcase some of the projects I work on in my own time.</p>

        <p>I am always interested in taking on freelance work so if you have an idea for a project give me an email or call for a chat!</p>
      </div>

      <div class="about__contact">
        <div class="about__contact-item">
          <a href="mailto:lauraricher@gmail.com" class="about__contact-link about__contact-link--email">lauraricher@gmail.com</a>
        </div>
        <div class="about__contact-item">
          <a href="tel:07891384298" class="about__contact-link about__contact-link--phone">07891384298</a>
        </div>
      </div>
  </div>
</section>

<style lang="scss">
@import '../scss/resources/breakpoints';
@import '../scss/resources/hover';

.about {
  // background-color: var(--color-grey);

  &__grid {
    display: grid;
    gap: var(--spacer-l);

    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: 2fr 1fr;
      gap: var(--spacer-xl);
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-m);

    @media screen and (min-width: $breakpoint-tablet) {
      gap: var(--spacer-s);
    }

    @media screen and (min-width: $breakpoint-desktop) {
      gap: var(--spacer-m);
    }

    &-link {
      @include hover-state('', var(--color-blue));
      position: relative;
      text-decoration: none;
      color: currentColor;
      text-decoration: none;
      font-weight: var(--font-weight-bold);
      font-size: 3rem;
      line-height: 3rem;

      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      @media screen and (min-width: $breakpoint-desktop) {
        font-size: 2.8rem;
        line-height: 3.2rem;
      }

      &--email {
        &:after {
          content: 'lauraricher@gmail.com';
        }
      }

      &--phone {
        &:after {
          content: '07891384298';
        }
      }
    }
  }
}
</style>
