---
import SectionHeader from '@/components/SectionHeader.astro'
---

<div class="blog-list">
  <div class="container blog-list__container">
    <SectionHeader
      title="Latest blog posts"
      titleColor="blue"
    />
  </div>
</div>

<style lang="scss">
.blog-list {
  background-color: var(--color-grey);
}
</style>
