---
const allProjects = await Astro.glob('../pages/project/*.md');

import SectionHeader from '@/components/SectionHeader.astro';
import ProjectCard from '@/components/ProjectCard.astro';
---

<section id="projects" class="project-list">
  <div class="container animate-section">
    <SectionHeader
      title="Projects"
      copy="Check out what I've been up to recently. From stylish interfaces to websites that run smoothly on any device. Take a look around and get a feel for the cool projects I've been working on!"
      titleColor="purple"
    />

    <div class="project-list__grid">
      {allProjects.map((project) =>
        <ProjectCard title={project.frontmatter.title} thumbnail={project.frontmatter.thumbnail} slug={project.frontmatter.slug} />
      )}
    </div>
  </div>
</section>

<style lang="scss">
@import '../scss/resources/breakpoints';

.project-list {
  &__grid {
    display: grid;
    gap: var(--spacer-s);

    @media screen and (min-width: $breakpoint-mobile) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>
