.markdown {
  h2 {
    margin-bottom: var(--spacer-s);
    font-weight: var(--font-weight-regular);
  }

  h3 {
    margin-bottom: var(--spacer-xs);
  }

  h4 {
    margin-bottom: var(--spacer-xs);
  }

  code {
    background-color: var(--color-grey-dark);
    color: var(--color-white);
  }
}
