---
import favicon from '@/assets/favicon.png';
import '@/scss/global.scss';

const { metaData } = Astro.props;

const siteMetaData = {
  metaTitle: `${metaData?.metaTitle || 'Frontend developer, Leeds - West Yorkshire'} | Laura Richer`,
  metaDescription: metaData?.metaDescription || `Hey, I'm a self taught, passionate frontend developer currently residing in Leeds, West Yorkshire.`,
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteMetaData.metaDescription || ''} />
    <title>{siteMetaData.metaTitle}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE00V683D9"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-ZE00V683D9');
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<script>
  import detectTouchevents from '../utils/detect-touchevents';

  document.documentElement.classList.add(detectTouchevents() ? 'touchevents' : 'no-touchevents');
</script>
