---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/scss/global.scss';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="META DESCRIPTION" />
    <title>META TITLE</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  import detectTouchevents from '../utils/detect-touchevents';

  document.documentElement.classList.add(detectTouchevents() ? 'touchevents' : 'no-touchevents');
</script>
